<nav class="top-0 absolute z-50 w-full bg-slate-900 shadow-md ">
    <ul class="h-10 flex items-center justify-center text-white ">
        <li class="px-4 rounded-full mx-3 underline decoration-blue-500 " routerLink='/pokemons/page/1' routerLinkActive="">
            <a>Pokemons</a>
        </li>
        <li class="px-4 rounded-full mx-3 underline decoration-blue-500 " [routerLink]="['/about']" routerLinkActive="">
            <a>About</a>
        </li>
        <li class="px-4 rounded-full mx-3 underline decoration-blue-500 " [routerLink]="['/pricing']" routerLinkActive="">
            <a>Pricing</a>
        </li>
        <li class="px-4 rounded-full mx-3 underline decoration-blue-500 " [routerLink]="['/contact']" routerLinkActive="">
            <a>Contact</a>
        </li>
    </ul>
</nav>